@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rt-color-white: #fff;
  --rt-color-dark: #222;
  --rt-color-success: #8dc572;
  --rt-color-error: #be6464;
  --rt-color-warning: #f0ad4e;
  --rt-color-info: #337ab7;
  --rt-opacity: 0.9;
  --rt-border-radius: 0.5rem;
}

.react-tooltip {
  background-color: var(--rt-color-dark) !important;
  color: var(--rt-color-white) !important;
  border-radius: var(--rt-border-radius) !important;
}

* {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 5px !important;
  border-radius: 30px;
}

::-webkit-scrollbar-track {
  background: #888 !important;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background: rgb(75, 75, 75) !important;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(75, 75, 75) !important;
}

#question-area > div h2:first-child,
#question-area > div h1:first-child {
  margin-top: 0 !important;
}
.light #question-area * {
  color: #000 !important;
}

.dark #question-area * {
  color: rgb(228, 228, 231) !important;
}

.dark #question-area * code,
.light #question-area * code {
  color: rgb(228, 228, 231) !important;
}

#question-area img {
  max-width: 100%;
  border-radius: 5px;
}
